@font-face {
    font-family: 'Cuprum';
    src: url('../fonts/CuprumRegular.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Cuprum';
    src: url('../fonts/CuprumBold.woff2') format('woff2');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Cuprum';
    src: url('../fonts/CuprumItalic.woff2') format('woff2');
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSansBold.woff2') format('woff2');
    font-style: normal;
    font-weight: 700;
}

:root {
    --basic-red: #EE3643;
    --basic-green: #63A63E;
    --basic-grey: #3D546F;
    --basic-greylight: #C5C5C5;
    --basic-background: #F1F5F7;
    --white: #FFFFFF;
    --special-ylellow: #FFBF47:
    --special-blue: #3BBCE3;
    --special-lilac: #DC91D8;
    --special-greenlight: #8ED78F;
    --special-yellowlight: #FFD180;
    --success: #5FBB2D;
    --warning: #FFBF47;
    --error: #BA2732;
    --greenlight: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #EAEAEA;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Cuprum', Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--white);
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    width: 900px;
    margin: 0 auto;
    padding: 0 20px;
}

.button {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: var(--white);
    text-transform: uppercase;
    text-align: center;
    border-radius: 3px;
}
