@font-face {
    font-family: 'Cuprum';
    src: url('../fonts/CuprumRegular.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Cuprum';
    src: url('../fonts/CuprumBold.woff2') format('woff2');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Cuprum';
    src: url('../fonts/CuprumItalic.woff2') format('woff2');
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSansBold.woff2') format('woff2');
    font-style: normal;
    font-weight: 700;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Cuprum', Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #ffffff;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
    text-decoration: none;
}

.container {
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}

.button {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
}

.header-top {
    margin-bottom: 50px;
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 17px;
    line-height: 23px;
    background-color: #293449;
}

.header-top .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-logo {
    display: block;
    width: 220px;
    height: 42px;
    background-color: #ee3643;
    text-align: center;
}

.header-logo svg {
    margin-top: 13px;
    background-color: #ee3643;
}

.header-search {
    width: 240px;
    background-color: #293449;
}

.header-search:hover {
    background-color: #212a3a;
}

.header-search:focus,
.header-search:active {
    background-color: #ffffff;
}

.header-search input::-webkit-input-placeholder {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
    background-color: #293449;
}

.header-search input::-moz-placeholder {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
    background-color: #293449;
}

.header-search input:-ms-input-placeholder {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
    background-color: #293449;
}

.header-bookmark,
.header-basket,
.header-order {
    display: flex;
    flex-direction: row;
    width: 150px;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.header-bookmark:hover,
.header-basket:hover,
.header-bookmark:focus,
.header-basket:focus {
    color: #ffffff;
    background-color: #212a3a;
}

.header-bookmark:active,
.header-basket:active {
    color: rgba(255, 255, 255, 0.6);
    background-color: #161d29;
}

.header-basket-current {
    background-color: #ee3643;
    color: #ffffff;
}

.header-order {
    background-color: #63a63e;
}

.header-order:hover,
.header-order:focus {
    background-color: #5fbb2d;
}

.header-order:active {
    color: rgba(255, 255, 255, 0.5);
    background-color: #518534;
}

.header-middle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-title {
    width: 300px;
}

.header-title h1 {
    width: 260px;
    margin: 0;
    padding-left: 50px;
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
    line-height: 22px;
    color: #ee3643;
}

.header-address {
    width: 320px;
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    color: #32425c;
}

.header-address a {
    font-style: normal;
    font-size: 21px;
    line-height: 27px;
    color: #e9292a;
}

.header-authorization {
    width: 300px;
}

.header-authorization a,
.header-user-list a {
    font-size: 21px;
    line-height: 27px;
    color: #000000;
}

.header-authorization a:hover,
.header-authorization a:focus {
    color: #ee3643;
}

.header-authorization a:active,
.header-user-list a:active {
    color: rgba(0, 0, 0, 0.3);
}

.header-user-sets a {
    text-decoration: underline;
    font-size: 16px;
    line-height: 22px;
    color: #32425c;
}

.header-user-sets a:hover,
.header-user-sets a:focus {
    text-decoration: none;
    color: #ee3643;
}

.header-user-sets a:active {
    text-decoration: underline;
    color: rgba(50, 66, 92, 0.3);
}

.header-navigation {
    background-color: #32425c;
}

.header-navigation a {
    font-size: 17px;
    line-height: 22px;
    color: #ffffff;
}

.header-navigation li:hover,
.header-navigation li:focus {
    background-color: #293449;
}

.header-navigation li:active {
    background-color: #1d2739;
}

.header-navigation a:hover,
.header-navigation a:focus {
    color: #ffffff;
}

.header-navigation a:active {
    color: rgba(255, 255, 255, 0.5);
}

.advantage-list {
    color: #ffffff;
}

.advantage-list li:nth-child(1) {
    background-color: #ffbf47;
}

.advantage-list li:nth-child(2) {
    background-color: #3bbce3;
}

.advantage-list li:nth-child(3) {
    background-color: #dc91d8;
}

.advantage-list li:nth-child(4) {
    background-color: #8ed78f;
}

.advantage-list li:nth-child(5) {
    background-color: #ffc047;
}

.advantage-list h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
}

.button-advantage {
    box-shadow: inset 0px 0px 150px 150px rgba(0, 0, 0, 0.1);
}

.button-advantage:hover,
.button-advantage:focus {
    box-shadow: inset 0px 0px 150px 150px rgba(0, 0, 0, 0.2);
}

.button-advantage:active {
    box-shadow: inset 0px 0px 150px 150px rgba(0, 0, 0, 0.3);
}

.advantage-slider h3 {
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
}

.advantage-slider p {
    font-size: 18px;
    line-height: 23px;
}

.button-slider {
    background-color: #ee3643;
}

.button-slider:hover,
.button-slider:focus {
    background-color: #ca2c37;
}

.button-slider:active {
    background-color: #ba2732;
}

.popular-products h2,
.popular-producers h2,
.services h2,
.company h2 {
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
}

.products-list h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
}

.products-list span,
.product-iteam-price {
    font-weight: 700;
    font-size: 17px;
    line-height: 39px;
}

.product-iteam-old {
    color: #a9a9a9;
    text-decoration: line-through;
}

.product-iteam-price span {
    color: #ffffff;
    background-color: #ee3643;
    text-decoration: normal;
}

.button-buy {
    color: #ffffff;
    background-color: #63a63e;
}

.button-buy:hover,
.button-buy:focus {
    background-color: #5fbb2d;
}

.button-buy:active {
    background-color: #518534;
}

.button-popular {
    background-color: #ee3643;
}

.button-cart {
    color: #32425c;
    background-color: #ffffff;
}

.button-cart:hover,
.button-cart:focus {

}

.button-cart:active {
    color: rgba(50, 66, 92, 0.3);
}

.button-popular:hover,
.button-popular:focus {
    background-color: #ca2c37;
}

.button-popular:active {
    background-color: #ba2732;
}

.services {
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    background-color: #f4f8f9;
}

.services h2 {
    font-family: 'Cuprum', Arial, sans-serif;
}

.services-list {
    font-family: 'Cuprum', Arial, sans-serif;
    font-weight: 700;
    font-size: 21px;
    line-height: 27px;
    color: #ffffff;
    background-color: #32425c;
}

.services-item:hover,
.services-item:focus {
    background-color: #293449;
}

.services-item-current {
    color: #32425c;
    background-color: #ffffff;
}

.services-description h3 {
    font-family: 'Cuprum', Arial, sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    color: #32425c;
}

.company-advantages,
.company-delivery {
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
}

.company-list {
    font-family: 'Cuprum', Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}

.company-delivery-title {
    font-family: 'Cuprum', Arial, sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
}

.breadcrumbs-list a {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 17px;
    color: #000000;
}

.inner-page h1 {
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
    text-transform: uppercase;
}

.filter,
.sort {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 17px;
    color: #000000;
    text-transform: uppercase;
}

.filter h2,
.sort h2 {
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
}

.filter-iteams legend {
    font-weight: 700;
    font-size: 17px;
    line-height: 32px;
}

.producers-iteam label,
.source-iteam label {
    font-size: 15px;
    line-height: 18px;
}

.sort-iteam a {
    color: rgba(0, 0, 0, 0.3);
}

.sort-iteam a:hover,
.sort-iteam a:focus {
    color: #000000;
}

.sort-iteam a:active,
.sort-iteam .sort-iteam-current {
    color: #ee3643;
}

.button-filters {
    color: #000000;
    background-color: #ffffff;
}

.description h4 {
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
    text-transform: uppercase;
}

.description dl {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 17px;
}

.pagination a {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 17px;
    text-transform: uppercase;
}

.pagination-item a {
    color: #000000;
    background-color: #ffffff;
}

.pagination-item a:hover,
.pagination-item a:focus {

}

.pagination-item:active {

}

.pagination-item .pagination-item-current {
    color: #ffffff;
     background-color: #ee3643;
}

.navigation {
    font-size: 18px;
    line-height: 23px;
    color: #f1f5f7;
    background-color: #32425c;
}

.navigation-address {
    font-style: normal;
}

.navigation-address a {
    font-style: normal;
    color: #f1f5f7;
}

.navigation-site-list a {
    color: #f1f5f7;
}

.navigation-site-list a:hover,
.navigation-site-list a:focus {
    text-decoration: underline;
}

.navigation-site-list a:active {
    text-decoration: none;
    color: rgba(241, 245, 247, 0.5);
}

.navigation-catalog-list a {
    color: #ffd180;
}

.navigation-catalog-list a:hover,
.navigation-catalog-list a:focus {
    text-decoration: underline;
}

.navigation-catalog-list a:active {
    text-decoration: none;
    color: rgba(255, 209, 128, 0.5);
}

.main-footer {
    font-size: 16px;
    line-height: 21px;
    background-color: #293449;
    color: #ffffff;
}

.footer-support a {
    color: #ffd180;
}

.footer-support a:hover,
.footer-support a:focus {
    text-decoration: underline;
}

.footer-support a:active {
    text-decoration: none;
    color: #ee3643;
}

.write {
    font-size: 18px;
    line-height: 23px;
}

.write-item input::-webkit-input-placeholder {
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: #999999;
    background-color: #ffffff;
}

.write-item input::-moz-placeholder {
  font-family: 'PT Sans', Arial, sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 17px;
    color: #999999;
    background-color: #ffffff;
}

.write-item input:-ms-input-placeholder {
  font-family: 'PT Sans', Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: #999999;
    background-color: #ffffff;
}

.write-area textarea::-webkit-input-placeholder {
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: #999999;
    background-color: #ffffff;
}

.write-area textarea::-moz-placeholder {
  font-family: 'PT Sans', Arial, sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 17px;
    color: #999999;
    background-color: #ffffff;
}

.write-area textarea:-ms-input-placeholder {
  font-family: 'PT Sans', Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: #999999;
    background-color: #ffffff;
}

.modal-add-product h2 {
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
}
