*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.hg {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header {
  grid-area: header;
  background-color: @color-basic-background;
}

main {
  grid-area: main;
  background-color: @color-white;
}

footer {
  grid-area: footer;
  background-color: #32425C;
}
